---
trainer:
  steps: 500
  workers: 8

  mode: random
  num_agents: 20

  tensorboard_name:
  save_freq: 10

  PPOConfig:
    optimizer: adam
    OptimizerKwargs:
      lr: 0.0001
      betas: !!python/tuple [0.9, 0.999]
      eps: 1.0e-07
      weight_decay: 0
      amsgrad: false

    gamma: 0.99
    eta: 0.5
    gae_lambda: 0.95

    advantage_normalization: true

    eps: 0.25
    target_kl: 0.03
    entropy_coeff: 0.0
    entropy_decay_time: 100
    min_entropy: 0.0
    value_coeff: 1.0

    ppo_epochs: 5
    minibatch_size: 8192

    use_gpu: false

model:
  input_size:
  num_actions: 2
  activation: tanh
  discrete: false

  hidden_sizes: [64, 64, 64]
  separate_value: true

  rays_input_size:

  conv_filters: 2

  sigma0: 0.7

  vec_input_size: 4
  rel_input_size: 4
  vec_hidden_layers: [32, 32]
  rel_hidden_layers: [32, 32]
  com_hidden_layers: [32, 32]

  initializer: kaiming_uniform
