typarse==3.4.0
numpy>=1.21.0
gymnasium~=0.27.1
jupyter>=1.0.0
jupyterlab>=3.0.7
mlagents-envs~=0.28.0
PyYAML>=5.4.1
scipy>=1.6.0
matplotlib
seaborn>=0.11.1
tensorboard>=2.7.0
torch>=1.12.0
tqdm>=4.62.3
ipykernel>=5.4.3
numba>=0.55.1
pytest>=6.2.2
coverage>=5.5.0
wandb>=0.12.2
pybullet==3.2.5
opencv-python~=3.4.15.55
PettingZoo[sisl]>=1.12.0
supersuit>=3.4.0
cloudpickle~=2.0.0
pillow~=8.4.0
setuptools~=58.0.4
pyvirtualdisplay~=2.2
optuna~=2.10.0
pytype==2023.1.17
jax==0.3.10
jaxlib